<div class="container">
  <h1><%= @book.title %></h1>
  <div class="content">
  <%= link_to("Back", :back) %> / <%= link_to("All Books", books_path) %>
    <div class="form-flex">
      <div class="label">Title</div>
      <div class="input"><%= @book.title %></div>
      <div class="label">Author</div>
      <div class="input"><%= @author %></div>
      <div class="label">Genre</div>
      <div class="input">
        <% @book.genres.each do |genre| %>
          <ul>
            <li><%= genre.name %></li>
          </ul>
        <% end %>
      </div>
      <div class="label">Description</div>
      <div class="input"><%= @book.description %></div>
      <div class="label"></div>
      <div class="input"><%= link_to("Edit", edit_book_path(params[:id])) %> / <%= link_to("Delete", book_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' }) %></div>
    </div>
  </div>
</div>